*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin
local.properties

# /ext contains external sources used for reference (SDL, Vulkan, Box64 etc.)
/ext

# assets over 50 MB
app/src/main/assets/rootfs.tar.xz
